body {
    margin: 0;
}

img {
    height: 100px;
    width: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

nav li {
    display: inline-block;
}

.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.illustration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
}

.signup-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: #1F2937;
}

.signup-container .left {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    background-color: #1F2937;
    color: #E5E7EB;
}